server {
    listen       ${PORT};
    listen       [::]:${PORT};
    server_name  _;

    root   /usr/share/nginx/html;
    index  index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    # Optional: proxy to backend if hosting under same domain
    # location /api/ {
    #     proxy_pass http://backend:8080/;
    # }
}


